* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}
:root {
  --color1: #000;
  --bg-aside: #f9f9f9;
  --bg-wallet: #f5f6fb;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  overflow-x: hidden;
}

aside {
  width: 15%;
  min-width: 17rem;
  background: var(--bg-aside);
  height: 100vh;
  padding: 3rem 2rem;
  position: fixed;
  z-index: 99;
}

main {
  width: 50%;
  margin-left: 15%;
  padding: 2rem 9rem;
  min-width: 60rem;
}
.wallet {
  width: 35%;
  min-width: 40rem;
  background-color: var(--bg-wallet);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2.5rem 7rem;
}
/* ! step 1 aside (nav) */
.nav {
  display: flex;
  flex-wrap: wrap;
}

.aside__title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.logo__round {
  width: 2.5rem;
  height: 2.5rem;
  background: #f7931b;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 24%, 50% 50%, 50% 0%);
  border-radius: 50%;
  transform: rotate(90deg);
  margin-right: -1.3rem;
  margin-top: 0.2rem;
}
.logo__round2 {
  width: 2.5rem;
  height: 2.5rem;
  background: #5250f9;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%, 53% 50%, 46% 0%);
  border-radius: 50%;
  transform: rotate(273deg);
  margin-top: 0.2rem;
  margin-right: 1rem;
  z-index: -1;
}
.aside__text {
  font-size: 2.3rem;
  font-family: "Abel", sans-serif;
  font-weight: 900;
}

.nav__item {
  width: 50%;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.nav__icon {
  background: #eceff8;
  font-size: 1.7rem;
  width: 3.8rem;
  height: 3.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 1rem;

  color: #000;
}

.nav__item--active .nav__icon {
  background: #52459f;
  color: white;
  box-shadow: 0.1rem 1.3rem 1rem 0.6rem #eceff8;
}
.nav__item:hover .nav__icon {
  background: #52459f;
  color: #fff;
  box-shadow: 0.1rem 1.3rem 1rem 0.6rem #eceff8;
}
.nav__item:hover .nav__text {
  color: black;
}

.nav__icon,
.nav__text,
.scroll__button {
  transition: all 0.2s ease-out;
}
.nav__item:hover .aside__text {
  margin-bottom: 3.5rem;
}
.nav__text {
  font-weight: 600;
  color: #a5b1c1;
  font-size: 1rem;
}
.nav__item--active .nav__text {
  color: #000;
}
nav .nav:first-child {
  margin-bottom: 3rem;
}

.ads {
  width: 12.5rem;
  height: 16rem;
  background: #bec0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 1.2rem 0 -0.6rem #bec0f17c;
}

.ads__image {
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
}

.ads__button {
  padding: 1rem 2.2rem;
  border-radius: 1rem;
  border: none;
  color: #8596f0;
  font-size: 0.9rem;
  font-weight: 900;
  cursor: pointer;
}

/* ! step 2 wallet section */

.header-wallet__img {
  width: 3.5rem;
  height: 3.3rem;
  border-radius: 0.8rem;
  margin-right: 0.2rem;
  cursor: pointer;
}
.wallet__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.header-wallet__quit,
.header-wallet__personal {
  color: #7a8086;
  font-size: 1.5rem;
  cursor: pointer;
}
.header-wallet__personal {
  margin-right: 8rem;
}

.payments-wallet__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.payments-wallet__text {
  font-size: 3rem;
  font-weight: 600;
}
.payments-wallet__button {
  background: white;
  border-style: none;
  padding: 1.2rem 2.8rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.payments-wallet__block {
  width: 100%;
  height: 12.5rem;
  background: white;
  border-radius: 1rem;
  padding: 2rem 2rem 3rem 2rem;
  margin-bottom: 1.5rem;
}
.block__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.payments__img {
  width: 1.2rem;
  height: 1.2rem;
  filter: brightness(0) invert(1);
}
.payments__icon-img {
  background: #f8896b;
  padding: 0.8rem;
  border-radius: 50%;
  margin-right: 1rem;
  line-height: 0;
}
.payments__text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1rem;
}
.payments__arrow {
  flex-grow: 1;
  font-size: 2rem;
  margin-top: 1rem;
  color: #7a8086;
}

.payments__sum {
  font-size: 1.7rem;
  letter-spacing: 0.05px;
  font-family: "Poppins", sans-serif;
  padding: 0.3rem 1.2rem;
  border-radius: 2rem;
  background: white;
  box-shadow: 0rem 0rem 3rem 0rem rgb(226, 226, 226);
}
.payments__date {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 0.6rem;
}
.payments__imgs {
  display: flex;
  margin-right: 1rem;
}
.payments__avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: -1.3rem;
  border: 3px solid white;
}
.block__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payments__avatar--full {
  background: #fee0e2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdabb1;
  font-weight: 900;
}
.payments__avatar--full--green {
  background: #e7f7ed;
  color: #abe4c3;
}
.payments__icon-img--green {
  background: #2de0c2;
  font-size: 1.7rem;
  padding: 0.8rem;
  color: white;
  line-height: 0;
}

.payments__new {
  width: 100%;
  height: 5rem;
  background: #d8d6ec;
  border-radius: 1rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.payments__new-icon {
  padding: 1rem;
  background: white;
  margin-right: 10rem;
  margin-left: 0.8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #1379ff;
  cursor: pointer;
}
.payments__new-block {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.payments__new-text,
.payments__new-icon2 {
  color: #51449c;
  font-size: 1.5rem;
  font-weight: 600;
}
.payments__new-icon2 {
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.wallet__list-header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.wallet__list {
  list-style: none;
}
.wallet__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}
.wallet__icon {
  font-size: 2rem;
  background: #fef3f1;
  padding: 0.6rem 0.6rem 0.4rem 0.6rem;
  color: #fb8e79;
  border-radius: 1rem;
  margin-right: 0.8rem;
}
.wallet__icon--yellow {
  background: #fcf6de;
  color: #edce4f;
}
.wallet__icon--blue {
  background: #e1f4f8;
  color: #42b8d4;
}
.wallet__icon--green {
  background: #e1f8f2;
  color: #52d8b5;
}

.wallet__name {
  display: flex;
  flex-direction: column;
}
.wallet__item-left {
  display: flex;
  align-items: center;
}
.wallet__text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #665a82;
}
.wallet__subtext {
  font-size: 1rem;
  color: #665a82;
}
.wallet__sum {
  font-size: 1.5rem;
  font-weight: 600;
}
.wallet__sum2 {
  color: #8fd9c5;
}
.wallet__item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* ! step 3 main section */

.main__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f7f8fa;
  border-radius: 2rem;
  padding: 1.3rem 1.5rem;
  margin-bottom: 2rem;
}
.main__search-input {
  border: none;
  outline: none;
  background: none;
  font-size: 1.3rem;
  width: 100%;
}
.main__search-icon {
  font-size: 1.8rem;
  padding-right: 1rem;
  cursor: pointer;
  color: #707070;
}
.main__search-input::placeholder {
  color: #707070;
  font-weight: 500;
}

.main__title-bold {
  font-size: 3.5rem;
  font-weight: 600;
}
.main__title-normal {
  font-size: 2.7rem;
  position: relative;
}
.main__title-normal::after {
  content: "23";
  top: -1.8rem;
  background: #f99175;
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 0.75rem;
  color: white;
  position: absolute;
  font-weight: 600;
}
.main__title {
  margin-bottom: 3rem;
}

/* ! Cards section */
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.cards__container {
  overflow-x: scroll;
  margin-bottom: 2rem;
}
.cards__container::-webkit-scrollbar-thumb {
  background: #47399a;
  border-radius: 0.8rem;
}
.cards__container::-webkit-scrollbar {
  height: 1rem;
}
.cards__container::-webkit-scrollbar-track {
  background: #e7e7e7;
  border-radius: 0.8rem;
}

.cards__item {
  min-width: 17em;
  height: 22rem;
  margin-right: 3.5rem;
  padding: 1.5rem 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards__header-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.cards__header-menu {
  font-size: 1.6rem;
  cursor: pointer;
}
.cards__footer {
  display: flex;
  flex-direction: column;
}
.cards__footer-img {
  width: 40%;
  height: 10rem;
  margin-bottom: 2rem;
}

.cards__footer-balance {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #3d3b7a;
}
.cards__footer-value {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #3d3b7a;
}
.cards .cards__item--orange {
  background-color: #fdeed4;
}
.cards__item--pink {
  background-color: #fde4f8;
}
.cards__item--blue {
  background-color: #b6dfea;
}

.scroll__button {
  width: 50px;
  height: 50px;
  font-size: large;
  font-weight: 800;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.4rem 0.4rem rgb(228 228 228);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  cursor: pointer;
}
.scroll__button:hover {
  background-color: #52459f;
}
.scroll__button:hover ion-icon {
  color: white;
}

/* ! Activity section */

.activity__header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity__header-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.activity__header-button {
  border-style: none;
  padding: 0.8rem;
  border-radius: 1rem;
  color: #707070;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 0;
}
.activity__header-button--active {
  background-color: #52459f;
  color: white;
}
.activity__header-button:hover {
  background: #52459f;
  color: #fff;
  transition: all 0.2s ease-out;
}
.activity__header-subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: #7a8086;
}
.activity__header-bottom {
  margin-bottom: 2.5rem;
}
.activity__header-edit {
  font-size: 1.1rem;
  margin-left: 11rem;
  color: #7a8086;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.activity__icon {
  padding: 1rem;
  background: #e8eef8;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #1a56ae;
  line-height: 0;
}

.activity__item-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.activity__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity__item1 {
  display: flex;
  align-items: center;
  width: 14rem;
}

.activity__item-subtext {
  font-size: 1.1rem;
  font-weight: 600;
  color: #7a8086;
}
.activity__list:not(:last-child) {
  margin-bottom: 2rem;
}
.activity__icon--orange {
  background: #ffefe8;
  color: #f8834d;
}
.mobile__menu {
  display: none;
}
